body, html{
  height:100vh;
  width:100vw;
  margin: 0;
  padding:0;
  background-image: url("https://wallpaperaccess.com/full/1796922.jpg");
  background-attachment: scroll;
  background-repeat: no repeat;

}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 10% 10% 10% 30% 15% 5%;
  grid-template-areas: 
  "restart title quit"
    ".. txtQ .."
    ".. txtAns .."
    ".. txtScore .."
    ".. numbers .."
    ".. numScore .."
    ".. footer ..";
}
#restart{
  background-color: rgba(186, 240, 228, 0.9);
  width:1fr;
  height: 1fr;
  color: rgba(4, 100, 25, .9);
}

h1{
    height: 1fr;
    font-size: 1.7em;
    text-align: center;
    color: rgb(175, 4, 161);
}


#quit{
    background-color: rgba(10, 10, 10, 0.89);
    width: 1fr;
    height: 1fr;
    color: rgba(233, 115, 115, 0.945);
    
  }
  
h2 {
    grid-area: txtQ;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 1.7em;
    text-shadow:0 3px gold;
    margin: .5em;
  }

h3{
  grid-area: txtAns;
  grid-column: 2;
  grid-row: 3;
  font-size: 30px;
  text-align: center;
  padding-top: 3%;
  text-shadow: 0 3px gold;
}


button {
  height: 80px;
  background-color:aquamarine;
  border-radius: 2%;
  border: 2% solid rgba(50, 21, 212, 0.815);
  background-color: transparent;
  font-size: 40px;
  color: rgba(248, 117, 10, 0.9);
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(87, 184, 230, 0.9));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(42, 177, 148, 0.9), inset 0 -1px 0 0 rgba(169, 211, 15, 0.89), 0 1px 0 0 rgba(117, 112, 112, 0.712);
  text-shadow: 0 1px rgb(198, 229, 241);
}

button:hover {
  background-color: rgba(169, 211, 15, 0.89);
}

section {
  grid-area: numbers;
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: .5fr;
  grid-column-gap: .5fr;
  padding-top: 1fr;
}


h4 {
  grid-area: txtScore;
  grid-column: 2;
  grid-row: 6;
  
}
.scoreBoard {
  text-align: left;
  font-size: 40px;
  color: rgb(9, 0, 10);
  text-shadow: 0 2px gold;
  text-align: center;
}

span{
  grid-area: numScore;
  grid-column: 2;
  grid-row: 7;
  padding-top: 4%;
  text-shadow: 0 3px gold;
}

.star {
  font-size: 40px;
}

footer{
  grid-area: footer;
  padding-top: 5%;
  grid-column: 1/span 3;
  grid-row: 7;
  padding-bottom: 2%;
  text-align: center;
}