body{
  background-color: black;  
}
header{
    background-color: aqua;
    padding: 20px;
}

.game-screen{
  width:100%;
  font-size: 5rem;
  height: 300px;
  border: blue;
  background-color: cornflowerblue;
  color:darkblue;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  
}